@font-face {
  font-family: HappyFox;
  src: url('stylesheets/HappyFox-Condensed.otf') format("opentype");
}
body {
  background: url('tea.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'HappyFox';
}

.carolyn-heading {
  float: left;
  margin-left: 4%;
  color: rgb(218, 80, 138);
  margin-top: -10%;
  display: block;
}

.name p {
  font-size: 12em;
  max-width: 50%;
}

.subtitle {
  font-size: 4em;
  margin-left: 10%;
  margin-top: -30%;
}

a {
  color: black;
}

i:hover {
  color: rgb(218, 80, 138);
}

.contact  {
  margin-top: 15%;
  float: right;
  margin-right: 18%;
}

i {
  padding: 15px;
  border: 4px black solid;
  border-radius: 100%;
  background: rgba(0,0,0,0);
}