html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 30px 40px 40px 40px;
  padding: 0;
}

.portfolio-stream img{
  margin: 20px 0 0 60px;
  width: 70%;
}

#lamp-vid video {
  margin: 20px 0 10px 60px;
  width: 70%;
}

#creative50{
  margin: 20px 0 50px 0;
  width: 30%;
  float: right;
}
