* {
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  text-decoration: none !important;
}

.page-header a {
  color: black;
}

.heading {
  float: center;
  margin-left: 4%;
  color: hsl(182, 50%, 42%);
  display: block;
}

@media(max-width:767px) {
  .logo {
    margin-left: 20px;
    max-width: 80%;
 }
}

@media(min-width:768px) {
  .logo {
    margin-left: 20px;
    max-width: 80%;
 }
}

@media(min-width:992px) {
  .logo {
    max-width: 1000px;
 }
}

.name {
  font-size: 40px;
  margin-left: 30px;
  float: left;
}

.break {
  height: 40px;
}

/*index*/
#story-img {
  width: 50%;
  margin-left: 10px;
}

#handholding-img {
  margin-left: 40px;
  max-width: 70%;
  border-radius: 60%;
}

.needs {
  display: inline-block;
  margin-left: 120px;
}

.needs p {
  margin-left: 10px;
  max-width: 80%;
}

@media(min-width:768px){
  .maslow {
    margin-top: 100px;
  }
  #maslow-img {
    width: 60%;
    padding-left: 30px;
  }
}

#maslow-img {
  width: 100%;
}

#need-img {
  width: 80%;
  margin-left: -40px;
}
/*inspiration*/
@media(min-width:768px) {
  .bridge {
    width: 100%;
  }
}

.bridge {
  align:center;
  width: 70%;
}

a{
  color: black;
}

i:hover {
  color: rgb(218, 80, 138);
}

.explanation {
  margin-left: 40px;
  font-size: 2em;
}

i {
  padding: 15px;
  border: 4px black solid;
  border-radius: 100%;
  background: rgba(0,0,0,0);
}

#navright {
  margin-top: 20px;
  font-size: 20px;
  float: right;
  display: inline-block;
  list-style-type: none;
  margin-top: 20px;
}

#navright li {
  display: inline;
  padding-left: 10px;
}

.entry {
  margin-left: 45px;
  font-size: 20px;
  max-width: 80%;
}
