a:link {
  text-decoration: underline;
  color: #35a9b9;
 }

a:link:hover {
  color: #be35ff;
}

a:visited {
  color: #be35ff;
}

.name, .name a {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.break {
  height: 150px;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
  padding-left: 40px;
}

.about-me .intro {
  margin: 0 auto;
  padding: 60px 80px 0 80px;
}

.about-me p {
  color: black;
  font-size: 1.4em;
  font-family: 'Roboto';
}

.activity-description {
  padding: 0 80px;
}

.fist-pump {
  margin: 50px 80px 20px 100px;
  color: #ff3dc4;
  font-weight: bold;
  font-size: 3em;
 }

.halloween {
  display: block;
  max-width: 180px;
  border-radius: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.projects {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}
