a:link {
  color: black ;
}

a:visited {
  color: #be35ff;
}

.name, .name a {
  font-size: 40px;
  margin-top: 15px;
  margin-left: 10px;
  float: left;
  text-decoration: none;
  color: black;
}

.break {
  height: 150px;
}

.navright {
  font-size: 15px;
  float: right;
  list-style-type: none;
  position: relative;
  margin: 50px 10px 0 0;
}

.navright li {
  display: inline;
  padding-left: 10px;
}

.navright li a {
color: black;
}

.about-me {
  margin-top: 10px;
  min-height: 100vh;
  position: absolute;
  left: 5%;
  right: 5%;
}

.about-me p {
  color: black;
  font-size: 2em;
}

.about-me h3 {
  text-align: center;
}

#fist-pump { color: #ff3dc4 }

#halloween {
  max-height: 30vh;
  max-width: 40vh;
  border-radius: 80%;
  position: absolute;
  left: 30%;
}

.social-media {
  position: relative;
  margin-left: 50vh;
  margin-bottom: 20vh;
}

.social-media li {
  list-style-type: none;
}

.social-media-inspire {
  position: relative;
  margin-left: 36%;
  margin-top: 100vh;
}
.social-media-inspire li{
  list-style-type: none;
}

.media-icons {
  max-height: 5vh;
  max-width: 5vh;
}
