* {
  background-color: #ffffff;
  font-size: 16px;
  background-image:url("https://raw.githubusercontent.com/sarahikeda/sarahikeda.github.io/master/stylesheets/wet_snow.png");
}

img {
  border-radius: 25px;
  display: inline;
  margin-right: 80;
}

.header p {
  font-size: 70px;
  font-family: laCompagniedesOmbres;
  src: url("https://github.com/sarahikeda/sarahikeda.github.io/blob/master/stylesheets/la%20Compagnie%20des%20Ombres.ttf");
  margin-left: 30px;
  margin-top: 30px;
  border-bottom: 1px solid black;
  padding: 1px;
}

.all {
  margin:0 auto;
}

.about {
  float: right;
  width: 500px;
  display: inline-block;
  max-width: 200px;
  margin-right: 100px;
}

.entry {
  float: left;
  width: 50%;
  display: inline-block;
  margin-left: 80px;
}

/*.navigation {
  float: right;
  display: block;
  padding-right: 100px;
  clear: both;
}*/

p {
  max-width: 800px;

}