* {
  background-color: #F44D4D;
  font-size: 20px;
  font-family: 'Roboto Slab'
}

.about img {
  border-radius: 100px;
  margin-right: 80px;
  height: 180px;
  width: 180px;
  opacity: 0.8;
  margin-top: 40px;
}

.header p {
  font-size: 70px;
  font-family: laCompagniedesOmbres;
  src: url("https://github.com/sarahikeda/sarahikeda.github.io/blob/master/stylesheets/la%20Compagnie%20des%20Ombres.ttf");
  margin-left: 30px;
  margin-top: 30px;
  border-bottom: 1px solid black;
  padding: 1px;
}

.all {
  margin:0 auto;
}

.about {
  float: right;
  display: inline-block;
  max-width: 250px;
  margin-right: 60px;
}

.about p {
    font-size: 14px;
}
.entry {
  float: left;
  width: 50%;
  display: inline-block;
  margin-left: 80px;
  margin-bottom: 100px;
  }

.entry p {
  max-width: 800px;
  font-size: 14px;
  }

.term {
  font-style: bold;
  font-size: 40px;
  }

#title {
  font-size: 40px;
}

.navigation li {
  float: right;
  padding-right: 40px;
  list-style-type: none;

}
.navigation li a {
   text-decoration: none;
   color: black;
   font-size: 22px;
}

.footer {
  border-top: 4px solid black;
  margin-top:2400px;
  margin-bottom:20px;
  height: 60px;
  text-decoration: none;
  /*margin-right: 160px ;*/
}

.footer li {
  float: right;
  text-decoration: none;
  list-style: none
}

#linkedin ul li a {
text-decoration: none;
}

#linkedin img {
  height:30px;
  width: 38px;
  float: left;
  margin: 0 10px 20px 0;
}

.suggestion  {
  position: absolute;
  right: 5px;

}
.suggestion li a{
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
