a {
  color: black !important;
}

.name, .name a {
  font-size: 40px;
  margin-top: 0px;
  margin-left: 10px;
  float: left;
  text-decoration: none;
}

.navright {
  font-size: 20px;
  float: right;
  list-style-type: none;
  position: relative;
  min-width: 60vh;
  margin: 50px 20px 0 0;
}

.navright li {
  display: inline;
}

@media all and (max-width: 500px) {
  #contact {
    padding-left: 10px;
  }
}

.main-info {
  margin-top: 100px;
  font-size: .8em;
}

.projects {
  min-height: 100vh;
  font-size: 10em;
  padding: 40px;
}

.insession {
  max-width: 30vh;
}

.insession:hover { transform: scale(1.1); }

.potluck {
  max-height: 95%;
  max-width: 100%;
  /*padding: 2px;*/
}

.potluck:hover { transform: scale(1.1); }

.decisions {
  max-height: 90%;
  max-width: 100%;
}

.decisions:hover { transform: scale(1.1); }
