.confetti-piece {
  position: absolute;
  width: 10px;
  height: 16px;
  background: #ffff48;
  top: .5;
  opacity: 0.5; }
  .confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(-51deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 36ms;
    animation-duration: 116ms; }
  .confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(-52deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 46ms;
    animation-duration: 82ms; }
  .confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(-15deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 46ms;
    animation-duration: 104ms; }
  .confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(62deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 11ms;
    animation-duration: 76ms; }
  .confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(-70deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 44ms;
    animation-duration: 106ms; }
  .confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(-22deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 41ms;
    animation-duration: 113ms; }
  .confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(44deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 6ms;
    animation-duration: 89ms; }
  .confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(66deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 31ms;
    animation-duration: 88ms; }
  .confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(55deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 50ms;
    animation-duration: 86ms; }
  .confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(59deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 23ms;
    animation-duration: 115ms; }
  .confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(-63deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 27ms;
    animation-duration: 92ms; }
  .confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(-17deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 40ms;
    animation-duration: 98ms; }
  .confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(-57deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 31ms;
    animation-duration: 119ms; }
  .confetti-piece:nth-child(odd) {
    background: #17d3ff; }
  .confetti-piece:nth-child(even) {
    z-index: 1; }
  .confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: 200ms; }
  .confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: 250ms;
    animation-delay: 100ms; }
  .confetti-piece:nth-child(4n-7) {
    background: #ff4e91; }

@keyframes makeItRain {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translateY(200px); } }

/*# sourceMappingURL=confetti.css.map */
