.confetti-piece {
  position: absolute;
  width: 10px;
  height: 16px;
  background: #ffff48;
  top: .5;
  opacity: 0.5; }
  .confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(64deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 33ms;
    animation-duration: 97ms; }
  .confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(-74deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 25ms;
    animation-duration: 118ms; }
  .confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(-9deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 4ms;
    animation-duration: 72ms; }
  .confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(-43deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 19ms;
    animation-duration: 118ms; }
  .confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(66deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 27ms;
    animation-duration: 89ms; }
  .confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(80deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 44ms;
    animation-duration: 77ms; }
  .confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(-73deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 47ms;
    animation-duration: 118ms; }
  .confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(30deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 22ms;
    animation-duration: 81ms; }
  .confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(10deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 35ms;
    animation-duration: 114ms; }
  .confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(-19deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 40ms;
    animation-duration: 112ms; }
  .confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(-5deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 48ms;
    animation-duration: 73ms; }
  .confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(49deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 44ms;
    animation-duration: 99ms; }
  .confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(18deg);
    animation: makeItRain 100ms infinite ease-out;
    animation-delay: 20ms;
    animation-duration: 112ms; }
  .confetti-piece:nth-child(odd) {
    background: #17d3ff; }
  .confetti-piece:nth-child(even) {
    z-index: 1; }
  .confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: 200ms; }
  .confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: 250ms;
    animation-delay: 100ms; }
  .confetti-piece:nth-child(4n-7) {
    background: #ff4e91; }

@keyframes makeItRain {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translateY(400px); } }

/*# sourceMappingURL=confetti.css.map */
