* {
  background-color: #FFCF5F;
  font-size: 20px;
  font-family: 'Roboto Slab'
}

.about img {
  border-radius: 100px;
  margin-right: 80px;
  height: 250px;
  width: 250px;
  opacity: 0.8;
}

.header p {
  font-size: 70px;
  font-family: laCompagniedesOmbres;
  src: url("https://github.com/sarahikeda/sarahikeda.github.io/blob/master/stylesheets/la%20Compagnie%20des%20Ombres.ttf");
  margin-left: 30px;
  margin-top: 30px;
  border-bottom: 1px solid black;
  padding: 1px;
}

.about {
  float: left;
  /* display: inline-block;*/
  max-width: 80%;
  margin-left: 100px;
  /*border: 1px dashed black;*/
  padding-right: 40px;
}

.entry {
  float: left;
  width: 50%;
  display: inline-block;
  margin-left: 80px;
  margin-bottom: 100px;
}

.navigation li {
  float: right;
  padding-right: 40px;
  list-style-type: none;

}
.navigation li a {
   text-decoration: none;
   color: black;
   font-size: 22px;
}

.about p {
  width: 500px;
  margin-left: 300px;
  position: relative;
  bottom: 200px;
}

.suggestion {
  position: absolute;
  top: 400px;
  /*border: 4px solid black;*/
  padding: 10px 20px;
  right: 100px;
}

.suggestion li {
  list-style-type: none;
}

.suggestion li a {
  text-decoration: none;
  color: black;
  font-size:18px;
}
.footer {
  border-top: 4px solid black;
  margin-top:500px;
  margin-bottom:20px;
  height: 60px;
  /*margin-right: 160px ;*/
}

.footer li {
  float: right;
}

#linkedin img {
  height:30px;
  width: 38px;
  float: left;
  margin: 0 10px 20px 0;
  border-radius: 100px;
  opacity: 0.8;
}