a {
  color: black !important;
}

.name a {
  font-size: 40px;
  margin-top: 15px;
  margin-left: 10px;
  float: left;
  text-decoration: none;
}

.navright {
  font-size: 1em;
  float: right;
  list-style-type: none;
  position: relative;
  margin: 50px 10px 0 0;
}

.navright li {
  display: inline;
  padding-left: 10px;
}

#arrow {
  max-width: 4vh;
}

#contact {
  padding-left: 20px;
}

.bio {
  position: absolute;
  top: 20%;
  padding-right: 100px;
}

#biopic {
  max-height: 50vh;
  max-width: 100%;
}

#biotext {
  margin: 0 40px 40px 20px;
  max-width: 65%;
  font-size: 22px;
  display: inline-block;
  float: right;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .navright {
      font-size: 1em;
      margin: 30px 10px 0 0;
    }
    .name a {
      font-size: 2em;
    }
    #biotext {
      max-width: 60%;
      font-size: 1.3em;
    }
}
