body {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

a {
  color: black !important;
}

.name, .name a {
  font-size: 40px;
  margin-top: 0px;
  margin-left: 10px;
  float: left;
  text-decoration: none;
}

.break {
  height: 150px;
}

.big-break {
  min-height: 45vh;
}
.navright {
  font-size: 20px;
  float: right;
  list-style-type: none;
  position: absolute;
  top: 6%;
  left: 55%;
}

.navright li {
  display: inline;
  padding-left: 10px;
}

#arrow {
  max-width: 4vh;
}

#contact {
  padding-left: 20px;
}

@media all and (max-width: 500px) {
  #contact {
    padding-left: 10px;
  }
}

.main-info {
  margin-top: 100px;
}

.bio {
  max-width: 95vh;
  font-size: 4.0vh;
  position: absolute;
  left: 20%;
  top: 25%;
  padding-right: 60px;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

#biopic {
  padding-right: 60px;
  max-height: 45vh;
  max-width: 50%;
  border-radius: 90%;
  float: left;
  display: inline-block;
}

.inspire {
  min-height: 100vh;
  max-width: 80vh;
  position: absolute;
  left: 20%;
}

.inspire h3{
  text-align: center;
}

.inspire li {
  font-size: 1.5em;
}

.inspire a {
  text-decoration: none;
}

#fist-pump { color: #ff3dc4 }

#halloween {
  max-height: 40vh;
  max-width: 40vh;
  border-radius: 80%;
  position: absolute;
  left: 20%;
}

.social-media {
  position: relative;
  margin-left: 50vh;
  margin-bottom: 20vh;
}

.social-media li {
  list-style-type: none;
}

.social-media-inspire {
  position: relative;
  margin-left: 36%;
  margin-top: 100vh;
}
.social-media-inspire li{
  list-style-type: none;
}

.media-icons {
  max-height: 5vh;
  max-width: 5vh;
}
.projects {
  min-height: 100vh;
  font-size: 15px;
  padding: 40px;
}

.projects-left {
  width: 50vh;
  height: 40vh;
  display: inline-block;
  border: 2px black solid;
  padding: 10px;
}

.projects-right {
  width: 50vh;
  height: 40vh;
  display: inline-block;
  border: 2px black solid;
  padding: 10px;
}

.insession {
  max-width: 30vh;
}

.insession:hover { transform: scale(1.1); }

.potluck {
  max-height: 95%;
  max-width: 100%;
  /*padding: 2px;*/
}

.potluck:hover { transform: scale(1.1); }

.decisions {
  max-height: 90%;
  max-width: 100%;
}

.decisions:hover { transform: scale(1.1); }
