* {
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  color: black !important;
}

.name, .name a {
  font-size: 40px;
  margin-top: 0px;
  margin-left: 10px;
  float: left;
  text-decoration: none;
}

.break {
  height: 150px;
}

.navright {
  font-size: 20px;
  float: right;
  list-style-type: none;
  position: absolute;
  top: 8%;
  left: 70%;
}

.navright li {
  display: inline;
  padding-left: 10px;
}

#contact {
  padding-left: 20px;
}

.main-info {
  margin-top: 100px;
}

.bio {
  max-height: 20vh;
  max-width: 95vh;
  font-size: 4.0vh;
  position: absolute;
  left: 20%;
}

#biopic {
  padding-top: 40px;
  padding-right: 60px;
  max-height: 60vh;
  max-width: 60vh;
  border-radius: 100%;
  float: left;
  display: inline-block;
}

#biotext{
  padding-top: 40px;
}

.inspire {
  min-height: 100vh;
  max-width: 90vh;
  position: absolute;
  left: 20%;
}

.inspire h3{
  text-align: center;
}

.inspire li {
  font-size: 1.5em;
}

.inspire a {
  text-decoration: none;
}

.projects {
  min-height: 100vh;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 20%;
}

.projects-one {
  margin-left: 100px;
  max-width: 80vh;
}

.projects-two {
  display: inline-block;
  max-width: 50vh;
}

.insession {
  max-height: 90%;
  max-width: 40vh;
}

.projects-three {
  float: right;
  font-size: 20px;
  max-width: 50vh;
}

.potluck {
  max-height: 90%;
  max-width: 90%;
  border: 1px black solid;
  padding: 2px;
}

.potluck:hover { transform: scale(1.2); }