body {
  font-family: 'Space Mono', monospace;
}

body {
    background-color: #FFF72B;
}

a {
  color: black;
}

.break {
  height: 150px;
}

.main-info {
  margin-top: 100px;
}

.intro {
  width: 60%;
  font-size: 2.5vh;
  padding: 20px 0 0 200px;
}

#question {
  font-size: 4.0vh;
}

.explanation {
  padding-left: 40px;
  max-width: 65vh;
}

body {
  animation: colorchange 50s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 50s; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

/*@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  /*0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}*/
}*/
