* { box-sizing: border-box; }

body {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

a {
  color: black !important;
}

.name, .name a {
  font-size: 40px;
  float: left;
  text-decoration: none;
}

.break {
  height: 10px;
}

.navright {
  font-size: 20px;
  float: right;
  list-style-type: none;
  position: absolute;
  top: 8%;
  left: 75%;
  bottom: 10%;
}

.navright li {
  display: inline;
  padding-left: 10px;
}

video {
  width: 100%;
  margin-bottom: 12px;
  margin-left: -30px;
}

video:hover { opacity: 0.3;}

.main-info {
  margin-top: 100px;
  font-size: .8em;
}

#headline {
  font-size: 4.0vh;
  text-align: center;
}

.design-projects {
  display: block;
  margin-top: 20px;
}

.individual-project {
  font-size: 1.3em;
  margin: 20px 0;
}

.write-up {
  padding-right: 25px;
  font-size: 2.2vh;
}

.project-img {
  width: 90%;
  padding-bottom: 10px;
}

.project-img:hover { opacity: 0.3;}
