* { box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: black !important;
}

.name, .name a {
  font-size: 40px;
  margin-top: 20px;
  text-decoration: none;
}

.break {
  height: 50px;
}

.design-projects {
  margin: 0 auto;
  display: grid;
  max-width: 1136px;
  grid-template-columns: 1fr 1fr;
  padding: 0 40px;
}

.individual-project {
  padding-bottom: 50px;
}

.write-up {
  width: 350px;
}

.project-img {
  max-width: 350px;
  padding-bottom: 10px;
}

.project-img:hover { opacity: 0.3;}

.section-title {
  text-align: center;
  margin: 0 0 20px 0;
}