body {
	width: 75%;
}

.name {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 4em;
	padding-left: 10px;
}

.description {
	margin: 0 auto;
	width: 80%;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
}

.name span {
  	position: relative;
  	opacity: 0;
  	top: 1em;
  	animation: animateOverlay 1s ease-in-out forwards;
}

.name span:nth-child(1n) {
	color: #ff5959;
}
.name span:nth-child(2n) {
	color: #085f63;
}

.name span:nth-child(5n) {
	color: #facf5a;
}
.name span:nth-child(6n) {
 	color: #49beb7;
}

.name span:nth-child(9n) { animation-delay: 1s; }
.name span:nth-child(10n) { animation-delay: 1s; }

.name span:nth-child(11n) {
	color: #085f63;
	animation-delay: 2s;
}

@media only screen and (min-width: 768px) {
	.name {
		font-size: 8em;
 	}
}

@keyframes animateOverlay {
  to {
    opacity: 1;
    top: 0;
    }
  }
