body {
	font-family: Helvetica, sans-serif;
	color: black;
	padding: 2em;
	width: 75%;
	min-height: 100vh;
	margin: 0 auto 0 auto;
}

.name {
	font-size: 8em;
}

.description {
	width: 70%;
	font-size: 2em;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	z-index: -9999;
	transform: translateX(-50%) translateY(-50%);
	background: #fff;
}

.name span{
  	position: relative;
  	opacity: 0;
  	top: 1em;
  	animation: animateOverlay 1s ease-in-out forwards;
  }

.name span:nth-child(4n) { animation-delay: 0s; }
.name span:nth-child(4n+1) { animation-delay: 1s; }
.name span:nth-child(4n+3) { animation-delay: 2s; }
.name span:nth-child(4n+2) { animation-delay: 3s; }

@keyframes animateOverlay {
  to {
    opacity: 1;
    top: 0;
    }
  }
