body {
  font-family: 'Arvo';
  margin: 0px;
}

.intro {
  background-color: #ffbb56;
  color: white;
  height: 300px;
}

a {
  color: white;
}

.container {
  font-size: 60px;
  margin-left: 50px;
  padding: 10px;
}

.explanation {
  height: 300px;
  background-color: #26ebf7;
  width: 48%;
  display: inline-block;
}

.picture {
  height: 300px;
  background-color: yellow;
  width: 50%;
  display: inline-block;
}
