body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #3d3a3a;
}

.logo {
  margin-top: -3rem;
  margin-left: -3.5rem;
  max-width: 50%;
}

header.masthead {
  position: relative;
  background-color: white;
  background-size: cover;
  padding-top: 8rem;
  color: #6d6767;
}

.follow-up {
  max-width: 70%;
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 4rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.help {
  font-size: 1.2rem;
}

.company-description {
  font-size: 1.2rem;
  display: block;
}

.lead {
  font-size: 1rem;
  text-align: left;
}

.listed-features {
  margin-top: 4rem;
}

.features-icons {
  padding-top: 4rem;
}

.features-icons h3 {
  font-size: 1.5rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .integration {
  background-color: #4D98ED;
  margin-top: -20px;
  padding: 40px;
  color: white;
  margin-bottom: 10px;
}

.testimonials {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.testimonials .title {
  color: #4D98ED;

}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
}

.testimonials .mb-5 {
  margin-bottom: 1rem !important;
}

.testimonials h3 {
  font-size: 1.5rem;
}

.call-to-action {
  position: relative;
  background-color: white;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.masthead .link {
  font-size: 1.6rem;
  color: #3d3a3a;
  padding-left: 2em;
}

.about {
  padding-bottom: 20px;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}


@media (max-width: 425px) {
  .logo {
    margin-top: -100px;
    max-width: 70%;
  }

  .container {
    width: 130%;
  }

  header.masthead .help {
    margin-top: -3px;
  }

  .help {
    font-size: 1rem;
  }

  .company-description {
    font-size: 1rem;
  }

  .features-icons {
    padding-top: 4rem;
  }

  .testimonials {
    padding-top: 4rem;
  }

  .listed-features {
    margin-top: 0;
  }

}
